<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link href="https://fonts.cdnfonts.com/css/linux-libertine" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
  </head>

  <body>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead">
            <div class="masthead-left">
              <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Posts</a>
              <a href="{{ site.baseurl }}/trip-reports">Trip Reports</a>
              <a href="{{ site.baseurl }}/search">Search</a>
              <a href="{{ site.baseurl }}/about">About</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
